body {
    display:flex;
    flex-direction:column; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
    width: 100vw; 
    gap: 40px;
    margin:0;
}

#upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#main-container {
    width: 1220px; 
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

#render-graph-container {
    height: 100%;
}

#graphing-container {
    width: 400px; 
    overflow: hidden; 
    border:1px solid gray;
    display:flex;
    align-items: center;
}